body {
  margin: 0px 147px;
  background-color: #000;
  /* width: 1162px; */
}

h1, h2 {
  white-space: pre-line;
  color: #fff;
}

h1 {
  padding-top: 67px;
}
h2 {
  padding-top: 32px;
}

.group21 {
  flex-shrink: 0;
  position: absolute;
  top: 219px;
  right: 272px;
  bottom: 125px;
  left: 972px;
}

.rectangle4 {
  padding-top: 46px;
}