body {
  margin: 0px 147px;
  width: 1440px;
  /* height: 881px; */
  background-color: #ffffff;
  padding-top: 128px;
}
/* 
.span-gamedev {
  width: 161.061px;
  color: #E87D0E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 31.04px; 
} */

.wrapper {
  
}

.span-text1, .span-text2 {
  word-wrap: break-word;
}

span {
  word-wrap: break-word;
}